<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="userView">

        </div>
    </li>
    <li><a ui-sref="app"><i class="material-icons">cloud</i>Home</a></li>
    <li><a ui-sref="app.whatwedo"><i class="material-icons">cloud</i>What we do</a></li>
    <li><a ui-sref="app.academics"><i class="material-icons">cloud</i>Academics</a></li>
    <li><a ui-sref="app.events"><i class="material-icons">cloud</i>Events</a></li>
    <li><a ui-sref="app.sports"><i class="material-icons">cloud</i>Sports</a></li>
    <li><a ui-sref="app.alumni"><i class="material-icons">cloud</i>Alumni and Almamater</a></li>
    <li><a ui-sref="app.placements"><i class="material-icons">cloud</i>Placements</a></li>
    <li><a ui-sref="app.aboutus"><i class="material-icons">cloud</i>About Us</a></li>
</ul>
<a href="#0" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>